a {
    color:  #5df8e4;
    font-family: inherit;
    font-size: 22px;
    font-weight: 300; 
    text-decoration: none;
  }
  
  .navbar {
    background-color: #5df8e4;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: inherit;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
  color:  #5df8e4;
  }
  
  .nav-links a:hover {
    text-decoration:none;
  }
  
  .logo-image {
  width: 500px;
  height: 90px;
  }
  
  .brand-logo {
    width: 150px; 
    height: auto; 
  }

  @media (max-width: 991px) {
    .navbar {
      display: flex;
      flex-direction: column;
    
    }
    
    .nav-links a {
      font-size: 18px; 
    }
    
    .nav-links {
      flex-direction: column;
      gap: 10px;
    }
    
    .logo-image {
      width: 300px;
      height: 60px;
      }
    }
    
    @media (max-width: 767px) {
    .navbar {
      display: flex;
      
    }
    
    .nav-links a {
      font-size: 16px; 
    }
    
    .nav-links {
      flex-direction: column;
      gap: 5px;
    }
    
    .logo-image {
      width: 300px;
      height: 60px;
      }
    }
    
    @media (max-width: 495px) {
    .navbar {
      display: flex;
      flex-direction: column;
    }
    
    .nav-links {
      flex-direction: column;
      gap: 3px;
    }
    
    .logo-image {
      width: 300px;
      height: 60px;
      margin-left: 4px;
      }
    }
    
    @media (max-width: 363px) {
    .navbar {
      display: flex;
      flex-direction: column;
    }
    
    .nav-links {
      flex-direction: column;
      gap: 3px;
    }
    
    .logo-image {
      width: 265px;
      height: 60px;
      }
    }