form {
    display: flex;
    margin: 20px;
    background-color: black;
    padding: 20px;
    background-attachment: fixed;
    margin: 0px;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    gap: 5px;
  }
  
  form > * {
    margin-bottom: 10px;
  }
  
  .react-select__control {
    width: 300px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px;
  }
  
  .react-select__menu {
    font-size: 16px;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #5df8e4; 
    color: #fff;
    margin-left: 10px;
  }
  
  button[type="button"] {
    background-color: #5df8e4;
  }
  
  button:hover,
  button:focus {
    background-color: #5df8e4;
  }
  
  button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  
  @media (max-width: 991px) {
    form {
      flex-direction: column;
    }
  
    .react-select__control {
      width: 100%; 
    }
  }
  
  @media (max-width: 767px) {
    form {
      flex-direction: column;
    }
  
    button {
      margin-left: 0; 
    }
  }
  
  @media (max-width: 480px) {
    form {
      flex-direction: column;
    }
  
    .react-select__control {
      width: 100%; 
    }
  
    button {
      margin-left: 0;
    }
  }