.error-container {
    background-color: #5df8e4;
    color: aliceblue;
    border: 1px solid #5df8e4;
    padding: 12px;
    margin: 20px 0;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .error-message {
    flex: 1;
  }
  
  .dismiss-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  